<div class="col-md-12">
  <div class="col-md-10">
    <agm-map [zoom]="zoom" [fullscreenControl]="true" [latitude]="latitude" [longitude]="longitude">
      <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
        <agm-marker *ngFor="let data of datas" [latitude]="data.address.latitude"
          [longitude]="data.address.longitude" [animation]="'BOUNCE'" [iconUrl]="'assets/images/marker-magenta.png'"
          (mouseOver)="openWindow(data)">
          <agm-snazzy-info-window [isOpen]="isInfoWindowOpen(data.id)" [showCloseButton]="false" [maxWidth]="1000"
            [maxHeight]="1000" [closeWhenOthersOpen]="true">
            <ng-template>
              <div style="width:100%" >
                <div class="propImg">
                  <div class="figure" > 
                    <div class="img"  style="background-image: url(assets/images/images.png);"></div>
                  </div> 
                </div>
                <div class="paWrapper" style="text-align: center;">
                  <div class="propTitle">{{data.name}}</div>
                  <div class="propAddress">{{data.address.addressLine1}}, {{data.address.addressLine2}}, {{data.address.city.name}}<br>{{data.address.state.name}}, {{data.address.pinCode}}, {{data.address.country.name}}</div>
                </div> 
                <div class="clearfix"></div>
                <div class="infoButtons" style="text-align: center;">
                  <a class="btn btn-sm btn-round btn-gray btn-o closeInfo"
                    (click)="closeWindow(data.id)">Close</a>
                  </div>
              </div>
            </ng-template>
          </agm-snazzy-info-window>
        </agm-marker>
      </agm-marker-cluster>
    </agm-map>
  </div>
  <div class="col-md-2">
    <div class="row" style="height: 100vh;overflow-y: scroll;">
      <div class="col-md-12" *ngFor="let data of datas">
        <a href="javascript:;" class="card" (mouseenter)="openWindow(data)">
          <div class="figure" > 
            <div class="img"  style="background-image: url(assets/images/images.png);"></div>
             
          </div>
          <h2 style="text-align: center;">{{data.name}}</h2>
          <div style="text-align: center;" class="cardAddress">
            {{data.address.addressLine1}}, {{data.address.addressLine2}}, {{data.address.city.name}}<br>{{data.address.state.name}}, {{data.address.pinCode}}, {{data.address.country.name}}
          </div> 
          <div class="clearfix"></div>
        </a>
      </div>
    </div> 
  </div>
</div> 